<div class='overlay'>
  <div class='popup'>
    <div class='close'>x</div><!-- close button-->
      <h2>INFO</h2> <!-- title food the popup-->
      <p>This is an open Thinktank for everyone on the Internet.
      Feel free to share all unpolished reflections, references or ideas
      you are thinking about at the moment. Your content will be added within
      5 categories: PUBLICATIONS, PEOPLE, TOPICS, PLACES and QUESTIONS.
      Feel free to add as much as you like to each category, but you have to add at least something
      within each (Come on, it's not that hard).
      All your entries will be saved anonymously.
      <br>
      As a reward, you'll get to see someone elses thoughts!
      All shared thoughts are copyright free and open for you to use
      for your own thoughts.
      <br>
      <br>
      All thoughts are to be handled with respect.
      Thoughts that are made to deprive others are prohibited.
      All thoughts are made by their respective authors and do not
      necessarily represent the thoughts of the project initiators.
      </p>
      <!-- popup content goes here -->
  </div>
</div>

<div class="ellipse-container">
  <div class="ellipse full-width" id="blue">
    <div class="ellipse" id="yellow">
      <button class="button">+info</button>
      <div class="ellipse" id="red">
        <div class="ellipse" id="green">
          <div class="ellipse" id=purple>
            <%= link_to new_content_path do %>
              <div>
                <h1>THIS IS OUR THINKTANK NOW</h1>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

