<div class="ellipse-container">
  <div class="ellipse full-width" id="blue">
    <div class="ellipse" id="yellow">
      <div class="ellipse" id="red">
        <div class="ellipse" id="green">
          <div class="ellipse" id=purple>
            <%= link_to new_content_path do %>
              <div>
                <h1>THIS IS OUR THINKTANK NOW</h1>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

