.content-wrapper {
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: flex-start;
}

.content {
  width: 20%;
  padding: 3px 6px 3px 6px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

li {
  list-style: none;
}

.publication {
  background-color: blue;
  color: white;
  border-left: 1px solid black;
}

.person {
  background-color: #e8e815;
  color: black;
}

.keyword {
  background-color: red;
  color: white;
}

.place {
  background-color: rgb(0, 200, 0);
  color: white;
}

.question {
  background-color: #e358f7;
  color: white;
  border-right: 1px solid black;
}

.button_home {
  padding: 0 8px 0 8px;
  bottom: 0;
  float: right;

  overflow: hidden;
  background:white;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  color: transparent;
  text-shadow: rgb(0, 0, 0) 0 0 10px;
  transition: 0.4s;
}

.button_home:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  text-shadow: none;
  text-decoration: none;
}

