.content-wrapper {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  width: 20%;
  padding: 5px;
}

.content-publications {
  background-color: blue;
  color: white;
  border: 1px solid black;
  border-right: none;
}

.content-people {
  background-color: #e8e815;
  color: white;
  border: 1px solid black;
  border-right: none;
}

.content-keywords {
  background-color: red;
  color: white;
  border: 1px solid black;
  border-right: none;
}

.content-places {
  background-color: rgb(0, 200, 0);
  color: white;
  border: 1px solid black;
  border-right: none;
}

.content-questions {
  background-color: rgb(0, 0, 0);
  color: white;
}
