<div>
  <h2>What are you thinking about rn?</h2>
  <%= simple_form_for (@content) do |f| %>
    <%= f.input :publication %>
    <label class="btn">
    ( optional: add an image )
    <span style="display:none;">
    <%= f.input :photo, as: :file, name: 'Upload image' %>
    </span>
    </label>
    <%= f.submit "Add cocktail !", class: "btn btn-primary" %>
  <% end %>
</div>
